/* Identity in CSS is uniquely identify an element, we have two types

1- using ID, and to use the ID we use #
2- using class, to use the class we adopt using a dot (.)*/

ul {
    list-style: none;
    float: right;
}

/* Using > is trying to navigate to the exact element to use the style while using class and id is identifying the set of elements to use that styles */
ul > li {
    display: inline;
}

ul > li > a {
    text-decoration: none;
    color: black;
}

ul > li > a:hover {
    text-decoration: underline;
}

.links {
    text-decoration: none;
    color: #222;
    /* Using Spacings and Margins in CSS, to give margin in css we adopt the property called margin while we use padding for inner spaces */
    /* margin-top: 10px;
    margin-right: 10px; */
    margin: 10px 10px 0 0;
    padding: 5px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 10px;
}

input {
    height: 30px;
    border-radius: 10px;
}




